/* #region NAVBAR */
.navbar {
    background-color: #272727;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    border-bottom: rgba(255, 255, 255, 0.5) solid;

    font-size: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navbar .navname {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .navname h3 {
    margin-bottom: -8px;
    margin-left: 8px;
}
.navbar .logo {
    width: 45px;
}

.navbar .navlist {
    display: flex;
    cursor: pointer;
    text-decoration: underline;
}

.navbar .navlist li {
    margin: 0px 10px;
}

.navbar .burger {
    display: none;
    color: white;
}
/* #endregion NAVBAR */

/* #region VIDEOGAMEBTN */
.video-game-button {
    font-family: "Pixolletta8px", sans-serif;
    font-size: 2rem;

    text-shadow: 1px 1px pink, -1px -1px maroon;

    line-height: 1.6em;
    text-align: center;
    display: inline-block;
    width: 1.7em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -o-border-radius: 0.75em;
    border-radius: 0.75em;
    background-color: red;
    -webkit-box-shadow: 0 0.3em maroon;
    -moz-box-shadow: 0 0.3em maroon;
    -o-box-shadow: 0 0.3em maroon;
    box-shadow: 0 0.3em maroon;
    color: white;
    margin: 5px;
    background-image: -o-linear-gradient(
        to left top,
        pink 3%,
        red 22%,
        maroon 99%
    );
    background-image: -moz-linear-gradient(
        to left top,
        pink 3%,
        red 22%,
        maroon 99%
    );
    background-image: -webkit-linear-gradient(
        to left top,
        pink 3%,
        red 22%,
        maroon 99%
    );
    background-image: linear-gradient(
        to left top,
        pink 3%,
        red 22%,
        maroon 99%
    );
    cursor: pointer;
    padding: 10px 0px 0px 5px;
}

.start-btn {
    font-family: "Pixolletta8px", sans-serif;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 10px 10px 0px 10px;
    background-image: linear-gradient(
        to left top,
        white 3%,
        lightgrey 22%,
        grey 99%
    );
    text-shadow: -1px -1px black, 1px 1px white;
    color: black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0.2em gray;
    cursor: pointer;
    overflow-y: hidden;
}

.start-btn:active {
    box-shadow: none;
    position: relative;
    top: 0.2em;
}

.video-game-button:active {
    box-shadow: none;
    bottom: 10px;
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    left: 10px;
    z-index: 100;
}
/* #endregion VIDEOGAMEBTN */

/* #region COMMONCLASSES */
.flex-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.btn-center {
    width: 97px;
    height: 60px;
    margin: 20px auto;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}
/* #endregion COMMONCLASSES */

/* #region TITLE */
#title {
    background: lightblue;
}

.title-text {
    background: lightgreen;
    padding: 20px;

    max-width: 90%;
    border: 5px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
}
/* #endregion TITLE */

/* #region PROFIL */
#profil {
    background: lightsalmon;
    padding: 50px 0px;
}

#profil h2 {
    margin: 10px 0px;
}

#profil h3 {
    margin: 20px 0px;
}

.presentation {
    width: 75%;
}

.avatar {
    width: 60%;
    margin: 30px 0px;
}
/* #endregion PROFIL */

/* #region PORTFOLIO */
#portfolio {
    background: lightblue;
    padding: 80px 0px;
}

#portfolio h1 {
    font-size: 3rem;
}

.galerie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.vignette {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 25px;
    margin: 20px 0px;
    cursor: pointer;
}

.caption {
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.modal-screenshots {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.screenshots {
    max-width: 50%;
    max-height: 500px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* #endregion PORTFOLIO */

/* #region CONTACT */
#contact {
    background: lightsalmon;
    padding: 160px 0px;
}

#contact a {
    color: black;
}

#contact h2 {
    margin: 20px 0px;
}
/* #endregion CONTACT */

footer {
    background-color: #272727;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.transitionA {
    background: linear-gradient(to bottom, lightblue, lightsalmon);
    height: 10px;
}

.transitionB {
    background: linear-gradient(to bottom, lightsalmon, lightblue);
    height: 10px;
}
/* #region RESPONSIVE */
@media screen and (max-width: 860px) {
    /* #region BURGER */
    .break {
        flex-basis: 100%;
        height: 0;
    }

    .navbar .navlist {
        display: none;
    }

    .navbar .navlist-burger {
        display: flex;
        flex-direction: column;
        text-decoration: underline;
    }

    .navbar .navlist-burger li {
        margin: 6px 0px;
    }

    .navbar .burger {
        display: flex;
    }
    /* #endregion BURGER */

    #profil h2 {
        margin: 40px 0px 10px 0px;
    }

    #profil h3 {
        margin: 10px 0px 20px 0px;
    }

    .screenshots {
        max-width: 100%;
    }
}
/* #endregion RESPONSIVE */
