@font-face {
    font-family: "Pixolletta8px";
    src: url("./style/fonts/Pixolletta8px.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

/* Reset du CSS */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}



body,
h3,
h4,
h5,
h6,
p,
ol,
ul,
aside {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,h2,h3 {
  font-family: "Pixolletta8px", sans-serif;
  text-align: center;

}
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
}
